/* Whole document: */
body{ /* Normal  */
      font-size: 12px;
  }
td {  /* Table  */
  font-size: 12px;
}
h1.title {
  font-size: 38px;
  color: #2e5893;
}
h1 { /* Header 1 */
  font-size: 26px;
  color: #2e5893;
}
h2 { /* Header 2 */
    font-size: 20px;
  color: #2e5893;
}
h3 { /* Header 3 */
  font-size: 16px;
  /*font-family: "Garamond";*/
  color: #2e5893;
}
code.r{ /* Code block */
    font-size: 12px;
}
pre { /* Code block - determines code spacing between lines */
    font-size: 14px;
}

p.caption {
  font-size: 0.9em;
  font-style: italic;
  color: grey;
  margin-right: 10%;
  margin-left: 10%;  
  text-align: justify;
}

p {
  text-align: justify;
}